In [2]:
# Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
# Import the food log file
foodlog_df = pd.read_csv("https://mydataproject.blob.core.windows.net/csvfiles/FoodLog.csv", sep=",")
# print the head of the file
foodlog_df.head()

,Date,Calories In,Fat (g),Fiber (g),Carbs (g),Sodium (mg),Protein (g),Water (ml),WaterTargetAchieved,UnderEaten,Unnamed: 10
0,01-01-2018,1221,18,12,100,614,150,2250,Yes,Yes,NaN
1,02-01-2018,1156,48,10,128,847,48,2250,Yes,Yes,NaN
2,03-01-2018,1861,33,16,252,1604,82,1000,No,No,NaN
3,04-01-2018,1831,33,11,222,3423,61,1250,No,No,NaN
4,05-01-2018,1227,35,10,140,1348,71,3000,Yes,Yes,NaN

In [7]:
# Import the gym workouts file
gymworkouts_df = pd.read_csv("https://mydataproject.blob.core.windows.net/csvfiles/GymWorkouts.csv", sep=",")
# print the head of the file
gymworkouts_df.head()

,ExerciseId,DateId,Exercise Date,Exercise Month,Exercise Year,Exercise Day,Exercise Name,Weight,Sets,Reps,TrainingArea
0,1,1,6/11/2017,November,2017,Monday,Bench Press,90.0,5,5,Chest
1,2,1,6/11/2017,November,2017,Monday,Overhead Press,45.0,5,5,Chest
2,3,1,6/11/2017,November,2017,Monday,Barbell Row,80.0,5,5,Back
3,4,1,6/11/2017,November,2017,Monday,Assisted Pull up,23.0,5,5,Back
4,5,2,8/11/2017,November,2017,Wednesday,Barbell Squat,80.0,4,5,Legs

In [8]:
# Import the total exercise file
totalexercise_df = pd.read_csv("https://mydataproject.blob.core.windows.net/csvfiles/TotalExercise.csv", sep=",")
# print the head of the file
totalexercise_df.head()

,Date,Calories Burned,Steps,Distance,Floors,Minutes Sedentary,Minutes Lightly Active,Minutes Fairly Active,Minutes Very Active,Activity Calories,Step Target Achieved,Calorie Target Achieved,Activity Target Achieved,Rest Day,Distance Achieved
0,1/09/2017,3721,13030,9.91,5,498,460,13,10,2266,Yes,Yes,No,Yes,Yes
1,2/09/2017,3015,8147,6.35,3,732,223,32,2,1245,Yes,No,No,No,Yes
2,3/09/2017,3837,13857,10.79,8,480,414,26,25,2379,Yes,Yes,No,No,Yes
3,4/09/2017,4274,12846,9.79,8,593,334,18,87,2757,Yes,Yes,Yes,No,Yes
4,5/09/2017,3519,11041,8.62,7,1044,380,10,6,1947,Yes,Yes,No,Yes,Yes

In [9]:
# Import the total sleep file
totalsleep_df = pd.read_csv("https://mydataproject.blob.core.windows.net/csvfiles/TotalSleep.csv", sep=",")
# print the head of the file
totalsleep_df.head()

,Start Time,End Time,Minutes Asleep,Minutes Awake,Number of Awakenings,Time in Bed,Minutes REM Sleep,Minutes Light Sleep,Minutes Deep Sleep,Sleep Target Achieved,% Asleep,% Awake,% Light sleep,% REM Sleep,% Deep Sleep,% Unclassified
0,31/08/2017,1/09/2017,320,45,30,365,47.0,200.0,73.0,No,87.67,12.33,54.79,12.88,20.00,12.33
1,1/09/2017,2/09/2017,402,49,35,451,79.0,237.0,86.0,No,89.14,10.86,52.55,17.52,19.07,10.86
2,2/09/2017,3/09/2017,456,39,34,495,118.0,228.0,110.0,Yes,92.12,7.88,46.06,23.84,22.22,7.88
3,3/09/2017,4/09/2017,362,46,30,408,63.0,188.0,111.0,No,88.73,11.27,46.08,15.44,27.21,11.27
4,5/09/2017,6/09/2017,370,47,29,417,15.0,271.0,84.0,No,88.73,11.27,64.99,3.60,20.14,11.27

In [10]:
# Import the weight measurements file
weightmeasurements_df = pd.read_csv("https://mydataproject.blob.core.windows.net/csvfiles/WeightMeasurements.csv", sep=",")
# print the head of the file
weightmeasurements_df.head()

,WeightID,Date,Weight (Stone),Weight (Kg),Weight (lbs),Gain/Loss Amount (lbs),BMI,BodyFat (%)
0,1,25/12/2017,16.80,105.0,231.0,0.0,29.71,NaN
1,2,1/01/2018,16.70,104.7,230.0,-1.0,29.62,NaN
2,3,8/01/2018,16.20,102.5,225.9,-4.1,29.00,NaN
3,4,15/01/2018,15.13,101.1,222.8,-3.1,28.60,NaN
4,5,22/01/2018,15.11,100.2,220.9,-1.9,28.35,NaN